<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<div ng-app="permitApp" ng-controller="permitCtrl as ctrl">

    <div ng-if="ctrl.view === 'occupancy'" class="constructionTypeContainer">
        <h1>Select an Occupancy Type:</h1>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setView('singleFamily')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-sfr.png"/>
                    <span>Single Family</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a ng-click="ctrl.setView('commercial')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-commercial.png"/>
                    <span>Multi-Family or Commercial</span>
                </a>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.view === 'singleFamily'" class="constructionTypeContainer">
        <h1>Select a Single Family Construction Type:</h1>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('SFnew')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-sfr.png"/>
                    <span>New Residence</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('addition')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/addition.png"/>
                    <span>Addition </span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('decks')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/deck.png"/>
                    <span>Deck</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('interior-remodel')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/interior-remodel.png"/>
                    <span>Interior Remodel</span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('demo')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/demo.png"/>
                    <span>Demolition</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('mech-elec-plumb')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/mech-elec-plumb.png"/>
                    <span>Mech., Elec., Plumbing</span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('re-roof')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/reroof.png"/>
                    <span>Re-roof</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('solar')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/solar.png"/>
                    <span>Solar Panels</span>
                </a>
            </div>
        </div>
        <div class="centered-button">
            <md-button ng-click="ctrl.setView('occupancy')" class="md-raised md-primary">BACK TO OCCUPANCY TYPE SELECTION</md-button>
        </div>
    </div>
    <div ng-if="ctrl.view === 'commercial'" class="constructionTypeContainer">
        <h1>Select a Multi-Family or Commercial Construction Type:</h1>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('new-comm')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-commercial.png"/>
                    <span>New Building</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('ti-comm')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-commercial.png"/>
                    <span>Tenant Improvements </span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('commercial-demo')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/demo.png"/>
                    <span>Demolition</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('commercial-mech')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/mech-elec-plumb.png"/>
                    <span>Mech., Elec., Plumbing</span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('solar')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/solar-commercial.png"/>
                    <span>Solar Panels</span>
                </a>
            </div>
        </div>
        <div class="centered-button">
            <md-button ng-click="ctrl.setView('occupancy')" class="md-raised md-primary">BACK TO OCCUPANCY TYPE SELECTION</md-button>
        </div>
    </div>
    <div ng-if="ctrl.view === 'typeView'" class="constructionTypeContainer">
        <h1 class="construction-type">{{ctrl.types[ctrl.constructionType].title}}</h1>
        <div ng-if="ctrl.types[ctrl.constructionType].steps.length > 0">
            <h1 class="sub-title">Steps To Obtain Permit:</h1>
            <ol>
                <p ng-include="ctrl.types[ctrl.constructionType].steps[0].description"></p>
                <li ng-repeat="step in ctrl.types[ctrl.constructionType].steps">
                    <h3>{{step.title}}</h3>
                    <p ng-bind-html="step.description | trust"></p>
                </li>
            </ol>
        </div>
        <div ng-if="ctrl.types[ctrl.constructionType].submittalRequirements.length > 0">
            <h1>Submittal Requirements:</h1>
            <ul>
                <li ng-repeat="requirement in ctrl.types[ctrl.constructionType].submittalRequirements">
                    {{requirement}}
                </li>
            </ul>
        </div>
        <div ng-if="ctrl.types[ctrl.constructionType].forms.length > 0">
            <h1>Applicable Forms:</h1>
            <div class="card small-card" ng-repeat="form in ctrl.types[ctrl.constructionType].forms">
                <a href="{{form.url}}">
                    <i class="far fa-file-pdf fa-2x blue-icon"></i>
                    <span>{{form.name}}</span><span class="page-size">({{form.size}})</span>
                </a>
            </div>
        </div>
        <div ng-if="ctrl.types[ctrl.constructionType].helpfulInformation.length > 0">
            <h1>Helpful Information:</h1>
            <div class="card small-card blue" ng-repeat="info in ctrl.types[ctrl.constructionType].helpfulInformation">
                <a href="{{info.url}}">
                    <i ng-if="info.type === 'link'" class="fas fa-external-link-alt fa-2x blue-icon"></i>
                    <i ng-if="info.type === 'pdf'" class="far fa-file-pdf fa-2x blue-icon"></i>
                    <span>{{info.name}}</span>
                </a>
            </div>
        </div>
        <div class="centered-button">
            <md-button ng-click="ctrl.setView(ctrl.occupancy)" class="md-raised md-primary">BACK TO CONSTRUCTION TYPE SELECTION</md-button>
        </div>
    </div>

</div>

<script>
    var app = angular.module('permitApp', ['ngMaterial', 'ngMessages']);

    app.controller('permitCtrl', ['$sce' , function($sce, $scope) {
        this.view = "occupancy";
        this.occupancy = "singleFamily";
        this.constructionType = null;

        this.setView = function(view) {
            this.view = view;
            if (view === 'singleFamily' || view === 'commercial') {
                this.occupancy = view;
            }
        }

        this.setConstructionType = function(type) {
            this.constructionType = type;
            this.setView('typeView');
        }
        

        this.types = {
            'SFnew': {
                title: 'New Single Family Residence',
                steps: [
                    {
                        title:'Pre-Application Meeting',
                        description: 'A Pre-Application Meeting is required prior to submittal for many land use applications and recommended for others.  A Pre-Application Meeting is an opportunity to meet face to face with Development Services Staff to discuss a proposed land use application. <a href="http://www.mercergov.org/files/PREAPPFORM.pdf">Click here</a> for the Pre-Application meeting request form and more information on whether it is required for your project.' 
                    },
                    {
                        title:'Intake Screening',
                        description: 'Development Services Staff will screen your building permit application (forms, plans, and submittal documents) for completeness. Intake screenings may be done in-person or electronically.'
                    },
                    {
                        title:'Submit Application Materials',
                        description: 'this is a description with a <a>link</a>'
                    },
                    {
                        title:'Submit Revisions',
                        description: 'this is a description with a <a>link</a>'
                    },
                    {
                        title:'Pay Fees and Pick Up Permit Documents',
                        description: 'this is a description with a <a>link</a>'
                    }
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            'decks': {
                title: 'New Deck',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            'demo': {
                title: 'Demolition',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            're-roof': {
                title: 'Re-roof',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            'addition': {
                title: 'New Single Family Addition or ADU',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            'interior-remodel': {
                title: 'Interior Remodel',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            'mech-elec-plumb': {
                title: 'Mechanical, Electrical, and Plumbing',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            'new-comm': {
                title: 'New Commercial or Multi-family Building',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            'ti-comm': {
                title: 'Commercial Tenant Improvements',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            'commercial-demo': {
                title: 'Commercial Demolition',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
            'commercial-mech': {
                title: 'Commercial Mechanical, Electrical, and Plumbing',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Application', url: 'http://www.mercergov.org/files/PermitAppBldg2018.pdf', size: '8.5"x11"' },
                    { name: 'Fire Area Worksheet', url: '../SIB/files/2018%20FireGrossSqFt(1).pdf', size: '8.5"x11"' },
                    { name: 'Cover Sheet', url: '../SIB/files/DSG%20CVR%202016%2024x36.pdf', size: 'Size should match drawings' }
                ],
                helpfulInformation: [
                    { name: 'Helpful Tip Sheet', url: 'http://www.mercergov.org/files/SubmittalChecklistSFR.pdf', type: 'pdf' },
                    { name: 'Helpful Link', url: 'https://www.iccsafe.org/', type: 'link' }
                ]
            },
        }
    }]);
    
    app.config(function($mdThemingProvider) {
        $mdThemingProvider.definePalette('mercerIsland', {
            '50': '0068B4',
            '100': '0068B4',
            '200': '0068B4',
            '300': '0068B4',
            '400': '0068B4',
            '500': '0068B4',
            '600': '0068B4',
            '700': '0068B4',
            '800': '0068B4',
            '900': '0068B4',
            'A100': '0068B4',
            'A200': '0068B4',
            'A400': '0068B4',
            'A700': '0068B4',
            'contrastDefaultColor': 'light',
            'contrastDarkColors': ['50', '100',
                '200', '300', '400', 'A100'
            ],
            'contrastLightColors': undefined
        });
        $mdThemingProvider.theme('default')
            .primaryPalette('mercerIsland')
    });
    
    app.filter('trust', function($sce) { return $sce.trustAsHtml; });
</script>


<style type="text/css">
    .HeadLineText {
        color: #0068B4;
        display: block;
        width: 100%;
        text-align: center;
        font-family: verdana;
        font-size: 2.5em;
    }

    h1 {
        color: #0068B4;
        font-family: verdana;
        font-weight: normal;
        font-size: 1.5em;
    }
    
    .construction-type {
        color: #0068B4;
        font-family: verdana;
        font-weight: bold;
        font-size: 2em;
    }
    
    .sub-title {
        color: #0068B4;
        font-family: verdana;
        font-weight: normal;
        font-size: 1.5em;
    }

    p {
        font-family: verdana;
        font-weight: normal;
    }

    .constructionTypeContainer {
        margin: 0 0% 0 0%;
        width: 100%;
    }

    .first-container {
        width: 100%;
        font-family: verdana;
        font-size: 2em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .second-container {
        width: 100%;
        font-family: verdana;
        font-size: 1.5em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .card {
        background: #fff;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        cursor: pointer;
        height: 4.5em;
    }

    .icon-card {
        height: 4.5em;
    }

    .centered-card {
        height: 3.5em;
        font-family: verdana;
    }
    
    .small-card {
        width: 30em;
        margin: 1em;
        height: 3em;
    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .flex2 {
        flex-basis: calc(50% - 0.5em);
    }

    .flex3 {
        flex-basis: calc(33.3% - 0.5em);
    }

    .margin-left {
        margin-left: 0.5em;
    }

    .margin-right {
        margin-right: 0.5em;
    }

    .margin-both {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .card a {
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    span {
        display: inline;
        text-decoration: none;
        color: black;
        flex-shrink: 1;
    }

    .card img {
        display: block;
        margin: 1em;
        width: 3em;
        height: 3em;
        flex-shrink: 0;
    }

    .center-text {
        width: 100%;
        text-align: center;
    }

    #occupancy-select {
        margin-left: 10%;
    }

    .centered-button {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    .blue-icon {
        color: #0068B4;
        margin: 0 0.5em 0 0.5em;    
        flex-shrink: 0;
    }
    
    .page-size {
        font-style: italic;
        margin-left: 0.5em;
    }
</style>
