<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<div ng-app="permitApp" ng-controller="permitCtrl as ctrl">

    <md-input-container id="occupancy-select">
      <label>Occupancy Type</label>
      <md-select ng-model="ctrl.occupancyType" >
        <md-option value="Single Family Residence">Single Family Residence</md-option>
        <md-option value="Commercial or Multi-family">Commercial or Multi-family</md-option>
      </md-select>
    </md-input-container>
    <div ng-if="ctrl.occupancyType === 'Single Family Residence'" class="constructionTypeContainer">
        <h1>Select a Construction Type:</h1>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-sfr.png"/>
                    <span>New Residence</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/addition.png"/>
                    <span>Addition </span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a >
                    <img alt="How do I get a permit for...?" src="../SIB/images/deck.png"/>
                    <span>Deck</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/interior-remodel.png"/>
                    <span>Interior Remodel</span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a >
                    <img alt="How do I get a permit for...?" src="../SIB/images/demo.png"/>
                    <span>Demolition</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/mech-elec-plumb.png"/>
                    <span>Mech., Elec., Plumbing</span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a >
                    <img alt="How do I get a permit for...?" src="../SIB/images/reroof.png"/>
                    <span>Re-roof</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/solar.png"/>
                    <span>Solar Panels</span>
                </a>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.occupancyType === 'Commercial or Multi-family'" class="constructionTypeContainer">
        <h1>Select a Construction Type:</h1>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-commercial.png"/>
                    <span>New Building</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-commercial.png"/>
                    <span>Tenant Improvements </span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a >
                    <img alt="How do I get a permit for...?" src="../SIB/images/demo.png"/>
                    <span>Demolition</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/mech-elec-plumb.png"/>
                    <span>Mech., Elec., Plumbing</span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/solar-commercial.png"/>
                    <span>Solar Panels</span>
                </a>
            </div>
        </div>
    </div>
    
</div>

<script>
    var app = angular.module('permitApp', ['ngMaterial', 'ngMessages']);
    app.controller('permitCtrl', function($scope) {
        this.occupancyType = "None";
    });
</script>


<style type="text/css">
    .HeadLineText {
        color: #0068B4;
        display: block;
        width: 100%;
        text-align: center;
        font-family: verdana;
        font-size: 2.5em;
    }

    h1 {
        color: #0068B4;
        font-family: verdana;
        font-weight: normal;
        font-size: 1.5em;
    }

    p {
        font-family: verdana;
        font-weight: normal;
    }
    
    .constructionTypeContainer {
        margin: 0 10% 0 10%;
        width: 80%;
    }

    .first-container {
        width: 100%;
        font-family: verdana;
        font-size: 2em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .second-container {
        width: 100%;
        font-family: verdana;
        font-size: 1.5em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .card {
        background: #fff;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        cursor: pointer;
        height: 4.5em;
    }

    .icon-card {
        height: 4.5em;
    }

    .centered-card {
        height: 3.5em;
        font-family: verdana;
    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .flex2 {
        flex-basis: calc(50% - 0.5em);
    }

    .flex3 {
        flex-basis: calc(33.3% - 0.5em);
    }

    .margin-left {
        margin-left: 0.5em;
    }

    .margin-right {
        margin-right: 0.5em;
    }

    .margin-both {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .card a {
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    span {
        display: inline;
        text-decoration: none;
        color: black;
        flex-shrink: 1;
    }

    .card img {
        display: block;
        margin: 1em;
        width: 3em;
        height: 3em;
        flex-shrink: 0;
    }

    .center-text {
        width: 100%;
        text-align: center;
    }
    
    #occupancy-select {
        margin-left: 10%;
    }
</style>