<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<div ng-app="permitApp" ng-controller="permitCtrl as ctrl">

    <div ng-if="ctrl.view === 'occupancy'" class="constructionTypeContainer">
        <h1>Select an Occupancy Type:</h1>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setView('singleFamily')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-sfr.png"/>
                    <span>Single Family</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a ng-click="ctrl.setView('commercial')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-commercial.png"/>
                    <span>Multi-Family or Commercial</span>
                </a>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.view === 'singleFamily'" class="constructionTypeContainer">
        <h1>Select a Single Family Construction Type:</h1>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a ng-click="ctrl.setConstructionType('SFnew')">
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-sfr.png"/>
                    <span>New Residence</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/addition.png"/>
                    <span>Addition </span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/deck.png"/>
                    <span>Deck</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/interior-remodel.png"/>
                    <span>Interior Remodel</span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/demo.png"/>
                    <span>Demolition</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/mech-elec-plumb.png"/>
                    <span>Mech., Elec., Plumbing</span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/reroof.png"/>
                    <span>Re-roof</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/solar.png"/>
                    <span>Solar Panels</span>
                </a>
            </div>
        </div>
        <div class="centered-button">
            <md-button ng-click="ctrl.setView('occupancy')" class="md-raised md-primary">BACK TO OCCUPANCY TYPE</md-button>
        </div>
    </div>
    <div ng-if="ctrl.view === 'commercial'" class="constructionTypeContainer">
        <h1>Select a Multi-Family or Commercial Construction Type:</h1>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-commercial.png"/>
                    <span>New Building</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/new-commercial.png"/>
                    <span>Tenant Improvements </span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/demo.png"/>
                    <span>Demolition</span>
                </a>
            </div>
            <div class="card margin-left flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/mech-elec-plumb.png"/>
                    <span>Mech., Elec., Plumbing</span>
                </a>
            </div>
        </div>
        <div class="first-container">
            <div class="card margin-right flex2 icon-card">
                <a>
                    <img alt="How do I get a permit for...?" src="../SIB/images/solar-commercial.png"/>
                    <span>Solar Panels</span>
                </a>
            </div>
        </div>
        <div class="centered-button">
            <md-button ng-click="ctrl.setView('occupancy')" class="md-raised md-primary">BACK TO OCCUPANCY TYPE</md-button>
        </div>
    </div>
    <div ng-if="ctrl.view === 'typeView'" class="constructionTypeContainer">
        <h1>{{ctrl.types[ctrl.constructionType].title}}</h1>
        <div>
            <h1>Steps To Obtain Permit:</h1>
            <ol>
                <li ng-repeat="step in ctrl.types[ctrl.constructionType].steps">
                    {{step}}
                </li>
            </ol>
        </div>
        <div>
            <h1>Submittal Requirements:</h1>
            <ul>
                <li ng-repeat="requirement in ctrl.types[ctrl.constructionType].submittalRequirements">
                    {{requirement}}
                </li>
            </ul>
        </div>
        <div>
            <h1>Required Forms:</h1>

                <div ng-repeat="form in ctrl.types[ctrl.constructionType].forms">
                    {{form.name}}
                </div>

        </div>
        <div>
            <h1>Helpful Information:</h1>

                <div ng-repeat="info in ctrl.types[ctrl.constructionType].helpfulInformation">
                    {{info.name}}
                </div>

        </div>
        <div class="centered-button">
            <md-button ng-click="ctrl.setView(ctrl.occupancy)" class="md-raised md-primary">BACK TO {{ctrl.occupancy | uppercase}}</md-button>
        </div>
    </div>

</div>

<script>
    var app = angular.module('permitApp', ['ngMaterial', 'ngMessages']);
    app.config(function($mdThemingProvider) {
        $mdThemingProvider.definePalette('mercerIsland', {
            '50': '0068B4',
            '100': '0068B4',
            '200': '0068B4',
            '300': '0068B4',
            '400': '0068B4',
            '500': '0068B4',
            '600': '0068B4',
            '700': '0068B4',
            '800': '0068B4',
            '900': '0068B4',
            'A100': '0068B4',
            'A200': '0068B4',
            'A400': '0068B4',
            'A700': '0068B4',
            'contrastDefaultColor': 'light',
            'contrastDarkColors': ['50', '100',
                '200', '300', '400', 'A100'
            ],
            'contrastLightColors': undefined
        });
        $mdThemingProvider.theme('default')
            .primaryPalette('mercerIsland')
    });

    app.controller('permitCtrl', function($scope) {
        this.view = "occupancy";
        this.occupancy = "singleFamily";
        this.constructionType = null;

        this.setView = function(view) {
            this.view = view;
            if (view === 'singleFamily' || view === 'commercial') {
                this.occupancy = view;
            }
        }

        this.setConstructionType = function(type) {
            this.constructionType = type;
            this.setView('typeView');
        }

        this.types = {
            'SFnew': {
                title: 'New Single Family Residence',
                steps: [
                    'Do this.',
                    'Then some of that.',
                    'And your done!'
                ],
                submittalRequirements: [
                    'Drawings',
                    'Calcs',
                    'Studies'
                ],
                forms: [
                    { name: 'Fire Area Worksheet', url: '', size: '8.5"x11"'},
                    { name: 'Application', url: '' },
                    { name: 'Cover Sheet', url: '', size: 'Size should match drawings'}
                ],
                helpfulInformation: [
                    { name: 'Helpful Thing', url: '', type: 'pdf'}
                ]
            }
        }
    });
</script>


<style type="text/css">
    .HeadLineText {
        color: #0068B4;
        display: block;
        width: 100%;
        text-align: center;
        font-family: verdana;
        font-size: 2.5em;
    }

    h1 {
        color: #0068B4;
        font-family: verdana;
        font-weight: normal;
        font-size: 1.5em;
    }

    p {
        font-family: verdana;
        font-weight: normal;
    }

    .constructionTypeContainer {
        margin: 0 10% 0 10%;
        width: 80%;
    }

    .first-container {
        width: 100%;
        font-family: verdana;
        font-size: 2em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .second-container {
        width: 100%;
        font-family: verdana;
        font-size: 1.5em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .card {
        background: #fff;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        cursor: pointer;
        height: 4.5em;
    }

    .icon-card {
        height: 4.5em;
    }

    .centered-card {
        height: 3.5em;
        font-family: verdana;
    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .flex2 {
        flex-basis: calc(50% - 0.5em);
    }

    .flex3 {
        flex-basis: calc(33.3% - 0.5em);
    }

    .margin-left {
        margin-left: 0.5em;
    }

    .margin-right {
        margin-right: 0.5em;
    }

    .margin-both {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .card a {
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    span {
        display: inline;
        text-decoration: none;
        color: black;
        flex-shrink: 1;
    }

    .card img {
        display: block;
        margin: 1em;
        width: 3em;
        height: 3em;
        flex-shrink: 0;
    }

    .center-text {
        width: 100%;
        text-align: center;
    }

    #occupancy-select {
        margin-left: 10%;
    }

    .centered-button {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
</style>
